.git
.github
.next
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
coverage
out
build
.DS_Store
*.pem
*.tsbuildinfo
.env
.env.*
!.env.example
data/*.db
data/*.sqlite
config/terraform/**/.terraform
config/terraform/**/*.tfstate
config/terraform/**/*.tfstate.*

